
.vs/

NTDLS.ReliableMessaging/obj/

NTDLS.ReliableMessaging/bin/

TestHarness/obj/

TestHarness/bin/

NTDLS.MemoryQueue/bin/

NTDLS.MemoryQueue/obj/

TestApps/Chat/ChatClient/bin/

TestApps/Chat/ChatClient/obj/

TestApps/Chat/ChatLibrary/bin/

TestApps/Chat/ChatLibrary/obj/

TestApps/Chat/ChatServer/bin/

TestApps/Chat/ChatServer/obj/

QueueClient/bin/

QueueClient/obj/

QueueServer/obj/

QueueServer/bin/

NTDLS.MemoryQueueServer/bin/

NTDLS.MemoryQueueServer/obj/

*.user
